<!-- <div class="container">
    <h5>{{pagehdr}}</h5>
    <app-home></app-home>
    <app-about></app-about>
    <app-service></app-service>
    <app-contact></app-contact> 
</div> -->

<div class="container">
    <h1>{{pagehdr}}</h1>
    <h5>Amount : {{amount}}</h5>
    <h5>Employee ID : {{Employee.empid}}</h5>
    <h5>Employee Name : {{Employee.empname}}</h5>
    <h5>Employee Address : {{Employee.address}}</h5>
    <h5>Sample Number Data : {{15+30}}</h5>
    <h5>Sample String Data : {{'Test of string'}}</h5>
    <h5>Sample String Data : Test of string</h5>
</div>