<div>
  <h5>Angular Routing</h5>
  <a class="btn btn-primary ml-2" routerLink="/dashboard">Dashboard</a>
  <a class="btn btn-primary ml-2" routerLink="/admin">Admin</a>
  <a class="btn btn-primary ml-2" routerLink="/product">Product</a>
  <a class="btn btn-primary ml-2" routerLink="/category">Category</a>
<!-- 
  <a class="btn btn-primary ml-2" href="/dashboard">Dashboard</a>
  <a class="btn btn-primary ml-2" href="/admin">Admin</a>
  <a class="btn btn-primary ml-2" href="/product">Product</a>
  <a class="btn btn-primary ml-2" href="/category">Category</a> -->

</div>
<div>
  <router-outlet></router-outlet>
</div>