<!-- <h3>Real Text : {{TextDemo}}</h3>
<h3>Lower Case : {{TextDemo | lowercase}}</h3>
<h3>Upper Case : {{TextDemo | uppercase}}</h3>
<h3>Upper Case : {{TextDemo | titlecase}}</h3> -->

<!-- <h3>Product Price : {{ProductPrice}}</h3>
<h3>Product Price dollar : {{ProductPrice | currency:'USD'}}</h3>
<h3>Product Price Rs. : {{ProductPrice | currency:'INR'}}</h3>
<h3>Product Price Euro : {{ProductPrice | currency:'EUR'}}</h3> -->

<h3>Date : {{TodayDate}}</h3>
<!-- 
<h3>Date Short : {{TodayDate | date:'short'}}</h3>
<h3>Date Short Date : {{TodayDate | date:'shortDate'}}</h3>
<h3>Date Long : {{TodayDate | date:'long'}}</h3>
<h3>Date Medium : {{TodayDate | date:'medium'}}</h3> -->

<h3>Date Custom Format : {{TodayDate | date:'dd-MM-yyyy'}}</h3>
<h3>Date Custom Format : {{TodayDate | date:'dd-MMM-yyyy'}}</h3>

<h3>Date and Time  : {{TodayDate | date:'dd-MMM-yyyy hh:mm:ss'}}</h3>