<div class="row">
    <div class="col-6">
        <div>
            <table class="table">
                <thead>
                    <th>User Id</th>
                    <th>Password</th>
                    <!-- <th>Status</th> -->
                </thead>
                <tbody>
                    <tr *ngFor="let users of UsersData">
                        <td>{{users.userid}}</td>
                        <td>{{users.password}}</td>
                        <!-- <td>{{users.status}}</td> -->
                        <td><a class="btn btn-primary" [routerLink]="['/users/user/',users.userid, users.status]" [queryParams]="users">Select</a></td>
                    </tr>
                </tbody>    
            </table>
            </div>
    </div>
    <div class="col-6">
        <router-outlet></router-outlet>
    </div>
</div>